In [1]:
#A) Import data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('airbnb data.csv')
subset_df = df.loc[:, ['accommodates', 'bathrooms','neighbourhood','num_beds','price','property_type']]
subset_df

,accommodates,bathrooms,neighbourhood,num_beds,price,property_type
0,1.0,1.0,Kitsilano,1,39,Apartment
1,1.0,1.0,Kensington-Cedar Cottage,1,43,Townhouse
2,2.0,1.0,Dunbar-Southlands,1,20,Apartment
3,3.0,1.0,Fraserview,1,49,Bed and breakfast
4,2.0,1.0,Oakridge,1,49,Villa
...,...,...,...,...,...,...
405,5.0,2.5,Kitsilano,5,249,House
406,4.0,1.0,Mount Pleasant,5,224,House
407,6.0,1.5,Riley Park,5,220,House
408,6.0,1.0,Downtown Vancouver,1,13,Condominium
409,NaN,1.0,NaN,1,39,Apartment

In [2]:
#B) Remove duplicates
noDuplicates_df = subset_df.drop_duplicates()
noDuplicates_df

,accommodates,bathrooms,neighbourhood,num_beds,price,property_type
0,1.0,1.0,Kitsilano,1,39,Apartment
1,1.0,1.0,Kensington-Cedar Cottage,1,43,Townhouse
2,2.0,1.0,Dunbar-Southlands,1,20,Apartment
3,3.0,1.0,Fraserview,1,49,Bed and breakfast
4,2.0,1.0,Oakridge,1,49,Villa
...,...,...,...,...,...,...
404,7.0,3.0,Grandview-Woodland,5,234,House
405,5.0,2.5,Kitsilano,5,249,House
406,4.0,1.0,Mount Pleasant,5,224,House
407,6.0,1.5,Riley Park,5,220,House
409,NaN,1.0,NaN,1,39,Apartment

In [3]:
#B) Drop records with missing values
noNull_df = noDuplicates_df.dropna()
noNull_df

,accommodates,bathrooms,neighbourhood,num_beds,price,property_type
0,1.0,1.0,Kitsilano,1,39,Apartment
1,1.0,1.0,Kensington-Cedar Cottage,1,43,Townhouse
2,2.0,1.0,Dunbar-Southlands,1,20,Apartment
3,3.0,1.0,Fraserview,1,49,Bed and breakfast
4,2.0,1.0,Oakridge,1,49,Villa
...,...,...,...,...,...,...
403,4.0,1.0,Mount Pleasant,5,240,House
404,7.0,3.0,Grandview-Woodland,5,234,House
405,5.0,2.5,Kitsilano,5,249,House
406,4.0,1.0,Mount Pleasant,5,224,House
407,6.0,1.5,Riley Park,5,220,House

In [4]:
#C) Split into training and testing data
from sklearn.model_selection import train_test_split
x = noNull_df.loc[:, ['accommodates', 'bathrooms', 'neighbourhood', 'num_beds', 'price', 'property_type']]
y = noNull_df.loc[:, ["price"]]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 10)
x_train

,accommodates,bathrooms,neighbourhood,num_beds,price,property_type
40,2.0,1.0,Renfrew-Collingwood,1,41,Guest suite
304,6.0,2.0,Kensington-Cedar Cottage,4,160,House
243,6.0,2.0,Downtown Vancouver,3,115,Condominium
151,3.0,1.0,Downtown Vancouver,2,92,Condominium
282,2.0,1.0,Downtown Vancouver,3,130,Condominium
...,...,...,...,...,...,...
165,2.0,1.5,Renfrew-Collingwood,2,70,Condominium
400,6.0,3.0,Commercial Drive,5,220,House
15,2.0,1.5,Kensington-Cedar Cottage,1,49,Townhouse
168,2.0,1.0,Strathcona,2,80,Condominium
345,8.0,1.0,Marpole,4,171,House

In [5]:
loc_dict = {}
counter = 0;

for i in range(0, 500):
    if i in noNull_df['neighbourhood']:
        if noNull_df['neighbourhood'][i] in loc_dict:
            noNull_df['neighbourhood'][i] = loc_dict[noNull_df['neighbourhood'][i]]
        else:
            loc_dict[noNull_df['neighbourhood'][i]] = counter
            noNull_df['neighbourhood'][i] = counter
            counter = counter + 1
        
print(loc_dict)

# noNull_df['neighbourhood'] = pd.to_numeric(noNull_df['neighbourhood'], errors='coerce').fillna(0, downcast='infer')
    
noNull_df['neighbourhood']

{'Kitsilano': 0, 'Kensington-Cedar Cottage': 1, 'Dunbar-Southlands': 2, 'Fraserview': 3, 'Oakridge': 4, 'Arbutus Ridge': 5, 'Point Grey/University of British Columbia': 6, 'Hastings-Sunrise': 7, 'Downtown Vancouver': 8, 'Grandview-Woodland': 9, 'Fairview': 10, 'Riley Park': 11, 'Renfrew-Collingwood': 12, 'Marpole': 13, 'Commercial Drive': 14, 'Yaletown': 15, 'Mount Pleasant': 16, 'West End': 17, 'Burnaby': 18, 'Gastown': 19, 'Downtown Eastside': 20, 'South Cambie': 21, 'Strathcona': 22, 'Chinatown': 23, 'Coal Harbour': 24, 'Shaughnessy': 25, 'Killarney': 26}

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

0       0
1       1
2       2
3       3
4       4
       ..
403    16
404     9
405     0
406    16
407    11
Name: neighbourhood, Length: 328, dtype: object

In [6]:
#D) Linear regression
from sklearn.linear_model import LinearRegression 
r_model = LinearRegression()
r_model.fit(x_train, y_train)

ValueError: could not convert string to float: 'Renfrew-Collingwood'